#!/bin/sh

# Setta um wallpaper aleatorio
wallpaper &

# Inicializa o dunst
dunst &

# Inicializa o Picom
picom -b --experimental-backends

# Inicializa o Redshift
redshift &

# Ativa o numlock
numlockx &

# Ativa o unclutter
unclutter &

# Taxa de repetição
xset r rate 250 40

# MPD daemon start (if no other user instance exists)
[ ! -s ~/.config/mpd/pid ] && mpd
